/*common rules*/
body {
    font-family: Arial, Helvetica, sans-serif;
}

/*header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.header-top {
    height: 50px;
    background-color: #000;
}

.img-header {
    width: 5rem;
}

/*jumbotron*/
#jumbotron {
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    margin-top: 126px;
    margin-bottom: 30px;
}

/*main*/
#it-takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

#game-grid {
    background-color: #232323;
}

#playstation-plus {
    background-color: #8C8F90;
}

.button_color_psplus {
    color: blue;
    background-color: lightgray;
}

#playstation-now {
    background-color: #000040;
}

.button_color_psnow {
    color: #000;
    background-color: #fff;
}

.ms_border_bottom {
    border-bottom: 2px solid blue;
}

.ms_border_bottom_transparent {
    border-bottom: 2px solid rgba(255, 0, 0, 0)
}

.ms_border_bottom_transparent:hover {
    border-bottom: 2px solid rgba(0, 0, 255, 0.4)
}

/*footer*/
footer {
    background-color: rgb(04, 47, 138);
}

.links-footer {
    list-style: none;
}

.links-footer a {
    color: #fff;
    text-decoration: none;
}