/*common rules*/



/*header*/
header {
    position: fixed;
    top: 0;
    width: 100%;
}

.header-top {
    height: 50px;
    background-color: #000;
}

.img-header {
    width: 5rem;
}

/*jumbotron*/
#jumbotron {
    height: 600px;
    background-image: url('../img/jumbo-bg.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    margin-top: 126px;
}

/*main*/
#it-takes-two {
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
}

#game-grid {
    background-color: #232323;
}

#playstation-plus {
    background-color: #8C8F90;
}

#playstation-now {
    background-color: #000040;
}

/*footer*/
footer {
    background-color: rgb(04, 47, 138);
}

.links-footer {
    list-style: none;
}

.links-footer a {
    color: #fff;
    text-decoration: none;
}